.header {
    overflow: hidden;
    height: auto;
    padding-bottom: 150px;
}

.suptitle {
    color: var(--main-accent-color);
    font-weight: 500;

    position: relative;
}

.header__suptitle::before {
    content: '';
    display: block;

    width: 1289.45px;
    height: 1186.62px;

    position: absolute;

    background: url('../assets/vector/bg-graphic/text-grid.svg') no-repeat;
    background-size: cover;
    top: -505px;
    left: -240px;

    z-index: -1;
}

.header__second-wrapper {
    position: relative;
}

.header__second-wrapper::after {
    content: '';
    display: block;
    position: absolute;

    width: 1198.56px;
    height: 1040.18px;

    background: url('../assets/vector/bg-graphic/header-bg-graphic.svg') no-repeat;
    background-size: cover;

    top: -200px;
    right: -620px;

    z-index: -1;
}

.second-wrapper__title {
    font-size: 48px;
    font-weight: 800;
    max-width: 750px;

    margin-top: 90px;
    margin-bottom: 90px;
}



/* ИЗОБРАЖЕНИЯ */

.second-wrapper__caliper-img, .second-wrapper__ruler-img, .second-wrapper__pencil-img {
    background-size: cover;
    background-repeat: no-repeat;

    position: absolute;
}


/* ЦИРКУЛЬ */
.second-wrapper__caliper-img {
    width: 221.89px;
    height: 413.5px;
    background: url('../assets/raster/caliper.png');

    top: -60%;
    right: 0px;

    transform: rotate(6deg);

    transition: .5s ease-in-out;
}

.second-wrapper__caliper-img:hover {
    transform: rotate(12deg);
}


/* ЛИНЕЙКА */
.second-wrapper__ruler-img {
    width: 104.22px;
    height: 588.57px;
    background: url('../assets/raster/ruler.png');

    top: 200px;
    right: -220px;

    transform: rotate(-45deg);

    transition: .5s ease-in-out;
}


/* КАРАНДАШ */
.second-wrapper__pencil-img {
    width: 52.32px;
    height: 747.27px;
    background: url('../assets/raster/pencil.png');

    top: 10px;
    right: -300px;

    transform: rotate(-22deg);

    transition: .5s ease-in-out;
}

/* СОЗДАТЕЛИ */

.second-wrapper__list-subtitle {
    font-weight: 700;
    color: var(--text-second-color);

    text-transform: uppercase;
}

.second-wrapper__list {
    max-width: 700px;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    column-gap: 20px;

    margin-top: 30px;
}

.second-wrapper__item {
    width: 300px;
    
    display: flex;
    align-items: center;
}

.item__img {
    margin-right: 20px;
}

.item__title {
    font-size: 20px;
    font-weight: 600;
    
    margin-bottom: 5px;
}

.item__post {
    font-weight: 400px;
    color: var(--text-second-color)
}

.second-wrapper__btn {
    border: none;
    cursor: pointer;
    background-color: var(--main-accent-color);

    padding: 26px 80px;

    font-family: var(--text-main-family);
    font-weight: 600;
    text-transform: uppercase;
    color: #FFFFFF;
    font-size: 18px;

    border-radius: 20px;

    margin-top: 70px;

    transition: all .2s ease;
}

.second-wrapper__btn:hover {
    transform: scale(1.05);

    box-shadow: 0px 0px 55px 0px #05213E26;

}